<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	{% include "header1.html" %}
	<div class="col-25">
    <div class="container">
<h1> Delete Item </h1>
<p class="padding-top-10">Are you sure you want to delete {{item.name}}?</p>
<form action="{{url_for('deleteItem', category_id = item.category_id, item_id = item.id)}}" method = "post">
            <div class="form-group padding-top-10">
                <button type="submit" id="submit" class="btn btn-danger">Delete</button>
                <a href="{{url_for('showCategoryItems', category_id = item.category_id)}}">
                    <button type="button" class="btn btn-default">Cancel</button>
                </a>
            </div>
        </form>

</div>
</div>
</body>
</html>